<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sua Página</title>
</head>
<body>

  <header>
    <div>
      <a href="/">Página Inicial</a>
    </div>
    <div>
      <a href="/login">Sair</a>
    </div>
  </header>

  <main>
    <div class="card" routerLink="/modalidades-ensino">Modalidades de Ensino</div>
    <div class="card" routerLink="/formas-ingresso">Forma de Ingresso</div>
    <div class="card" routerLink="/vestibulares">Vestibulares</div>
    <div class="card" routerLink="/cursos">Cursos</div>
  </main>

</body>
</html>
