<div class="container">
    <form>
      <div>
        <label>Id</label>
        <input type="text" disabled [(ngModel)]="id" name="id">
      </div>
      
      <div>
        <label>Nome</label>
        <input type="text" [(ngModel)]="nome" name="nome">
      </div>
      
      
      <button (click)="buttonClick()"> 
        {{ id ? 'Salvar' : 'Criar' }}  
      </button>
    </form>
    
    <table>
      <thead>
        <th> Id </th>
        <th> Nome </th>
        <th> ... </th>
      </thead>
    
      <tbody>
        <tr *ngFor="let vestibular of vestibulares$ | async">
          <td> {{ vestibular.id }} </td>
          <td> {{ vestibular.nome }} </td>
          <td> 
            <span (click)="preencherCampos(vestibular)" > alterar </span> 
            <span (click)="remover(vestibular.id!)" > remover </span> 
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>
  