<div class="container">
  <header>
    <div>
      <a href="#">Página Inicial</a>
    </div>
    <div>
      <a href="#">Sair</a>
    </div>
  </header>

  <div *ngIf="showForm3" class="form-container">
    <form>
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" disabled [(ngModel)]="id" name="id" class="form-control">
      </div>

      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" [(ngModel)]="nome" name="nome" class="form-control">
      </div>

   <button (click)="buttonClick()" class="btn btn-primary">
        {{ id ? 'Salvar' : 'Criar' }}
      </button>

      <button (click)="voltar()" class="btn btn-primary">
        Voltar
      </button>
    </form>
  </div>

  <table *ngIf="!showForm3">
    <thead>
      <th> Id </th>
      <th> Nome </th>
      <th> ... </th>
      <div class="btn-container">
        <button class="btn" (click)="toggleForm()">Novo</button>
      </div>
    </thead>

    <tbody>
      <tr *ngFor="let modalidadeEnsino of modalidadesEnsino$ | async">
        <td> {{ modalidadeEnsino.id }} </td>
        <td> {{ modalidadeEnsino.nome }} </td>
        <td> 
          <span (click)="preencherCampos(modalidadeEnsino)" id="editar" style="cursor: pointer;"> Editar </span> 
          <span (click)="remover(modalidadeEnsino.id!)" id="remover" style="cursor: pointer;"> Remover </span> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
